/* BASE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

*{
    margin: 0;
    padding:0;
}

body {
    margin: 0;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* TABVIEW */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    color: #555;
}

.header-name {
    width: 100%;
    height: 215px;
    position: relative;
}

#panel_cadastro_content, #painel_conteudo_content{
    border:none;
}

/* #painel_conteudo_header { */
/*     height: 215px; */
/*     display: flex; */
/*     justify-content: center; */
/*     align-items: center; */
/*     font-size:48px; */
/*     background: #880EE8; */
/*     color:#eaeaea; */
/*     box-shadow: 1px 1px 1px black; */
/* } */

#painel_conteudo_header {
	margin: 0px;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #880EE8;
    color:#eaeaea;
    box-shadow: 1px 1px 1px black;
}

.container_cadastro {
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: space-evenly;
    align-content: center;
}

.left,.right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 441px;
    flex-wrap: wrap;
}


.input {
    border:1px solid #880EE8 !important;
    width: 441px;
    height:53px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input:focus {
    box-shadow: 0 0 0 0.2rem #880EE8 !important;
}

.container_button .ui-button{
    width: 307px !important;
    height: 65px;
    background: #880EE8 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 24px;
}

.footer{
    width: 100%;
    background: linear-gradient(90deg, rgba(203,148,210,1) 0%, rgba(179,122,199,1) 14%, rgba(114,79,139,1) 62%, rgba(130,75,173,1) 100%);
    height: 6vh;
    display:flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
    font-size: 16px;
    color:#eaeaea;
    position: static;
    bottom: 0;
    z-index: 0;
}

.principal {
   font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}

.principal.active {
    background: #ad6232;
}

.principal .container {
    position: relative;
    width: 800px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
}

.principal .container .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.principal .container .user .imgBx{
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    transition: 0.5s;
}

.principal .container .user .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.principal .container .user .formBx {
    position: relative;
    width: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.login-title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}

.principal .container .user .formBx input {
     font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    color: #555;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

.principal .container .user .formBx input[type="submit"] {
    max-width: 100px;
    background-color: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

.principal .container .user.signupBx .formBx input[type="submit"]{
    background-color: #e73e49;
}

.principal .container .user .formBx .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 2px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}

.principal .container .signupBx {
    pointer-events: none;
}

.principal .container.active .signupBx {
    pointer-events: initial;
}

.principal .container .user .formBx .signup a {
    font-weight: 600;
    text-decoration: none;
    color: #577eff;
}

.principal .container .signupBx .formBx {
    top: 100%;
    transition: 0.5s;
}

.principal .container.active .signupBx .formBx {
    top: 0;
    transition: 0.5s;

}

.principal .container .signupBx .imgBx {
    top: -100%;
    transition: 0.5s;
}

.principal .container.active .signupBx .imgBx {
    top: 0;
    transition: 0.5s;
}

.principal .container .signinBx {
    top: 0;
    transition: 0.5s;
}

.principal .container.active .signinBx .formBx {
    top: 100%;
    transition: 0.5s;
}


.principal .container .signinBx .imgBx {
    top: 0;
    transition: 0.5s;
}

.principal .container.active .signinBx .imgBx {
    top: 100%;
    transition: 0.5s;
}

@media screen and (max-width: 991px){
    .principal .container {
        max-width: 400px;
    }

    img {
        display: none;
    }

    .principal .container .imgBx{
        display: none;
    }

    .principal .container .user .formBx {
        width: 100%;
        position: absolute;
    }
}

@media (max-width: 640px) {
    .ui-tabs.ui-tabs-top > .ui-tabs-nav li {
        width: 100%;
    }
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
    border: none;
}

@media (max-width: 640px) {
    .ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row {
        border: none;
    }
}


/* HEADER */

#header{
    display: flex;
    justify-content: space-between; 
    background: linear-gradient(90deg, rgba(203,148,210,1) 0%, rgba(179,122,199,1) 14%, rgba(114,79,139,1) 62%, rgba(130,75,173,1) 100%);
    position: sticky;
    top:0;
    z-index: 999;
    box-shadow:  2px 5px 10px rgba(0,0,0, 0.2);
}

#container_menu_header{
	display: flex;
	justify-content: space-evenly;
	width: 30vw;
	align-items: center;
}

#container_menu_header a{
	margin:8px;
	justify-content: space-around;
}

#avatar_logado{
	font-weight: bolder;
}


/* HOME */

#container_cards{
  display: flex;
  justify-content: space-evenly;	
  margin-top: 50px;
}

.cards_home {
  box-shadow: 15px 20px 10px #8a8a8a;
  border-radius: 20px;
  padding: 15px;
  margin: 20px;  
  width: 500px;
  height:250px;
  border: 3px solid #880ee8;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.cards_home h1 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  color: #880ee8;
}

.cards_home p {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.cards_link {
  display: flex;
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  bottom: -1px
}

.cards_link a {
  color: darkslateblue;
  float: right;
  position: bottom;
}

/* LOGO */

#container_logo{
	display: flex;
	width: auto;
	justify-content: space-around;
        align-items: center;
}

#img_logo{
	display:block;
	width:60px;
}

#nome_logo{
    font-size: 24px;
    color:#eaeaea;
    padding-left: 10px;
}


/* BANNER */

#container_banner{
	overflow:hidden; /* sem efeito */
}

.banner {
  display: flex;
  align-items: center;
  color: #84509c;
  background-color: white;
}

.banner h1 {
  overflow:hidden;
  display: block;
  text-align: center;
  margin-right:35px;
  padding:15px;
}

.banner p {
  overflow:hidden;
  display: block;
  text-align: center;
  margin-right:35px;
  padding:15px;
  font-size: 30px;
}

.container_image{
  overflow:hidden;
  display: flex;
  height: 40vh;

}

.container__home {
    height: 100vh;
}

@media (max-width: 1000px) {

  #image_logo{
	display:block;
  } 
  
  .container__home {
      height: 100%;
  }
  
  #container_menu_header a{
	margin:8px;
	justify-content: space-around;
  }
	
  .banner {
    display: grid;
    grid-template-columns: 100%;
  }

  .banner img {
  	display: block;
    margin: 0 auto;
  }
  
  .banner h1 {
    display: block;
    text-align: center;
    margin-right:25px;
    padding:10px;
  }

  .banner p {
	display: block;
	text-align: center;
	margin-right:25px;
	padding:10px;
  }
  
  .container_image{
	display: flex;
	height: 40vh;
	
  }
  
  #container_cards {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    margin-top: 100px;
  }
  .cards_home {
  	margin: 25px auto;
  	width: 90vw;
  }  
  
}


@media (max-width: 550px) {
	
  .banner {
    display: grid;
    grid-template-columns: 100%;
  }

  .banner img {
  	display: block;
    margin: 0 auto;
  }
  
  .banner h1 {
    display: block;
    text-align: center;
    margin-right:25px;
    padding:10px;
  }

  .banner p {
	display: block;
	text-align: center;
	margin-right:25px;
	padding:10px;
  }
  
  .container_image{
	display: flex;
	height: 40vh;	
  }
  
  .cards_home h1 {
	font-size: 23px;
	text-align: center;
	margin-bottom: 15px;
	color: #880ee8;
  }
	
  .cards_home p {
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
  }
  
}

.sobre_nos{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    margin: 0 2rem;
}


.sobre_nos h1{
    text-align: center;
    font-size: 1.6rem;
    margin-top: 10px;
}

.integrantes{
    display: flex;
    justify-content: space-evenly;
}

.membro{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  
    padding: 0 10px;
    height: 100%;
}

i{
    font-size: 1.5rem; 
    color: black;
}

.about{
    padding: 10px;
    text-align: center
}

.container_membro_info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3),
    -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

.icons {
    max-height: 80px;
    display: flex;
    align-items: center;
    padding:10px;
}

.subtitulo {
    display: flex;
    text-align: center;
}

.container_membro_info:hover {
    transition:.5s;
    transform: scale(1.1);
}

@media (max-width: 1150px) {
    .membro {
        font-size: 14px;
    }
    
    .about {
        padding:0;
        font-size: 12px;
    }
}

@media (max-width: 850px) {
    
    .membro h1 {
        font-size: 14px;
    }
    
    .membro {
        height: 200px;
    }
    .sobre_nos {
        height: 100%;
    }
    
    .integrantes {
        flex-direction: column;
        align-items: center;
    }
    
    .container_membro_info {
        width: 250px;
        margin-bottom:25px;
    }
}

@media (max-width: 500px) {
    .footer {
        font-size: 14px
    }
}

/* BUSCA DE QUESTÕES */

ui-panel-content ui-widget-content{
	display: flex;
	justify-content: space-between;
	height: 25vh;
}

#customerTable{
	display: flex;
}

#combo_busca_questao{
	display: flex;
	background: white;
}

#formCategoria{
	display: flex;
	justify-content: space-evenly;
	align-content: center;
    font-size: 1.6rem;
}

body .ui-panel .ui-panel-content{
	background: white;
	border: none;
	width: 100vw;
}

@media (max-width: 650px) {
    #combo_busca_questao {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    
    ui-panel-content ui-widget-content {
        margin: 0 auto;
    }
    
    #formCategoria {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
    }
    
    .seletor_busca_questao{
	margin: 10px auto;
	}
	
	
	
}








