.sobre_nos{
    width: 80%;
    margin: auto;
}

.sobre_nos h1{
    text-align: center;
}

.integrantes{
    background-color: wheat;
    display: flex;
    margin-top: 1%;
}

.integrantes div{
    width: 33%
}

.icons{
    display: block;
    margin: auto;
    text-align: center;
}

.pi-github:before{
    margin: auto;
}

i{
    font-size: 1.5rem; 
    color: black;
}

p{
    text-align: center;
}