.sobre_nos{
    width: 80%;
    margin: auto;
}

.descricao p{
    width: 70%;
    margin: auto;
}

.sobre_nos h1{
    text-align: center;
}

.integrantes{
    background-color: wheat;
    display: flex;
    margin-top: 1%;
}

.membro{
    width: 33%;
    margin: auto;
    
}

.icons{
    display: block;
    margin: auto;
    text-align: center;
}

.pi-github:before{
    margin: auto;
}

i{
    font-size: 1.5rem; 
    color: black;
}

p{
    text-align: center;
}