<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:b="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security-3.2.xsd">                            
   

	<b:bean id="appUserDetailsService" class="br.com.quiz.secutity.AppUserDetailService"/>
	
	<http pattern ="/login.xhtml" security="none" />

<!--     <http auto-config="false" use-expressions="true" access-denied-page="/login.xhtml?negado=true" > -->
    <http auto-config="false" use-expressions="true" >
<!--         <intercept-url pattern="/inicio.xhtml" access="isAuthenticated()"/>        -->
        <intercept-url pattern="/logado/**" access="isAuthenticated()"/>      
<!--         <intercept-url pattern="/pesquisaQuiz" access="hasAnyRole('ADM', 'USER')"/>       -->
        <intercept-url pattern="/Perfil/**" access="hasAnyRole('ADM')"/>
<!--     	<intercept-url pattern="/**" access="denyAll"/> -->
        <form-login login-page="/login.xhtml" authentication-failure-url="/login.xhtml?erro=true" default-target-url="/" always-use-default-target="true" />
        <logout logout-url="/j_spring_security_logout" invalidate-session="true" />
        <intercept-url pattern="/resources/**" access="permitAll"/>
<!--         <logout invalidate-session="true" logout-success-url="/login.xhtml" logout-url="/logout" delete-cookies="JSESSIONID"/> -->
       
    </http>
    
    <authentication-manager>
        <authentication-provider user-service-ref="appUserDetailsService">
<!--             <jdbc-user-service data-source-ref="dataSource" -->
<!--                users-by-username-query="SELECT login, senha, 'true' as enable FROM login WHERE login = ?" -->
<!--                authorities-by-username-query="SELECT login, p.login FROM login p join usuario u on p.id = u.idPerfil WHERE login = ?" -->
<!--             /> -->
<!-- 				<user-service > -->
<!-- 					<user name="t" password="t" authorities="ADM"/> -->
<!-- 					<user name="as" password="a" authorities="USER"/> -->
<!-- 				</user-service> -->
        </authentication-provider>
    </authentication-manager>

    <!--local-->
    <b:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <b:property name="url" value="jdbc:mysql://localhost:3306/quiz?autoReconnect=true&amp;useTimezone=true&amp;serverTimezone=America/Sao_Paulo&amp;zeroDateTimeBehavior=convertToNull" />
        <b:property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <b:property name="username" value="root" />
        <b:property name="password" value="admin" />
    </b:bean>

</b:beans>