<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:b="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security-3.2.xsd">                            
   
	
	<http pattern ="/login.xhtml" security="none" />
	
	

    <http auto-config="false" use-expressions="true" access-denied-page="/login.xhtml?negado=true" >
<!--         <intercept-url pattern="/inicio.xhtml" access="isAuthenticated()"/>        -->
<!--         <intercept-url pattern="/pesquisaQuiz" access="hasAnyRole('ADM', 'USER')"/>       -->
<!--     	 <intercept-url pattern="/**" access="denyAll"/> -->
<!--         <logout logout-url="/j_spring_security_logout" invalidate-session="true" logout-success-url="/inicio" delete-cookies="JSESSIONID"/> -->
        <intercept-url pattern="/resources/senac/images/**" access="permitAll"/>
        <intercept-url pattern="/resources/senac/**" access="permitAll"/>
        <intercept-url pattern="/logado/**" access="hasRole('ROLE_ADMIN')"/>      
        <intercept-url pattern="/Perfil/**" access="hasRole('ROLE_ADMIN')"/>
        <form-login login-page="/login.xhtml" authentication-failure-url="/login.xhtml?erro=true" />
        <logout invalidate-session="true" logout-success-url="/quiz/" logout-url="/inicio" delete-cookies="JSESSIONID"/>
       
    </http>
    
    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
               users-by-username-query="SELECT login, senha, 'true' as enable FROM usuario WHERE login = ?"
               authorities-by-username-query="SELECT login, tipo FROM perfil p join usuario u on p.id = u.id_perfil WHERE login = ?" />
			

        </authentication-provider>
    </authentication-manager>

    <!--local-->
    <b:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <b:property name="url" value="jdbc:mysql://localhost:3306/quiz?autoReconnect=true&amp;useTimezone=true&amp;serverTimezone=America/Sao_Paulo&amp;zeroDateTimeBehavior=convertToNull" />
        <b:property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <b:property name="username" value="root" />
        <b:property name="password" value="password" />
    </b:bean>

</b:beans>